###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
###< doctrine/doctrine-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/mailer ###
###< symfony/mailer ###

###> symfony/messenger ###
###< symfony/messenger ###

###> symfony/ux-turbo ###
###< symfony/ux-turbo ###

###> vich/uploader-bundle ###
###< vich/uploader-bundle ###

###> symfony/asset-mapper ###
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

# Environnement
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db